<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
      Configure Selenium grid settings http://www.seleniumhq.org/projects/grid/
    -->
    <!--
      Choose on of the following drivers:
      InternetExplorer
      Chrome
      Firefox
    -->
    <add key="DriverToUse" value="InternetExplorer" />
    <add key="TargetUrl" value="http://demo.testfire.net/" />
    <add key="ImplicitlyWait" value="30" />
    <add key="PageLoadTimeout" value="60" />
  </appSettings>
</configuration>